# ----------------------------------------
# PARAMETERS
# ----------------------------------------
file_location = '/home/rbdavid/Scripts/git/OpenFold-amber/Test_Suite/2ERL_example/2ERL.pdb'

# for distance restraint preparation
dist_restraint_file_name = '8col.dist'	# really just the extension to be added
dist_selection = 'name CA CB CG or (resname VAL ILE and name CG1) or (resname THR and name CG2) or (resname SER and name OG) or (resname CYS and name SG)'
dist_plus_minus = 1.0
dist_cutoff = 999.
pair_type_list = [['N','O'],['CB','CB'],['CA','CA'],['CA','CG'],['CA','CG1'],['CA','CG2'],['CA','OG'],['CA','SG'],['CG','CG'],['CG','CG1'],['CG','CG2'],['CG','OG'],['CG','SG'],['CG1','CG1'],['CG1','CG2'],['CG1','OG'],['CG1','SG'],['CG2','CG2'],['CG2','OG'],['CG2','SG'],['OG','OG'],['OG','SG'],['SG','SG']]	# no need to flip order of these elements; code does so instead
nearest_neighbors_ignored = 2

# for dihedral restraint preparation
angl_selection = 'protein'
angl_plus_minus = 15.0
angl_restraint_file_name = '5col.angl'	# really just the extension to be added

# for fasta file creation
create_fasta_file = True
fasta_file_name = '.fasta'	# really just the extension to be added

# BOOLEANS
summary_boolean = True		# Boolean value; if True, the script will print out a summary file that breaks down the parameters used in the analysis and how to rerun the same analysis

